<%- include("../partials/header") %> <%- include("../partials/navbar") %>

<div class="container">
  <%- include("../partials/flash") %>
  <h3 class="text-center mt-2">ออเดอร์ทั้งหมด</h3>
  <table class="table table-bordered border-primary mt-4 mb-3">
    <thead>
      <tr>
        <th scope="col">สลิป</th>
        <th scope="col">ID</th>
        <th scope="col">วันที่</th>
        <th scope="col">สินค้า</th>
        <th scope="col">ที่อยู่</th>
        <th scope="col">สถานะ</th>
        <th scope="col">ยอดรวม</th>
        <th scope="col">อัพเดท</th>
      </tr>
    </thead>
    <% for(let order of allOrders ){ %>
    <tbody>
      <tr>
        <td><%= order.imagePay %></td>
        <td><%= order._id %></td>
        <td><%= order.date %></td>
        <td><%= order.itemallder %></td>
        <td><%= order.Address %></td>
        <td><%= order.status %></td>
        <td><%= order.amount %></td>
        <td className="bg-secondary">
          <!-- Button trigger modal -->
          <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#modal<%= order._id%>"
          >
            แก้ไข
          </button>

          <!-- Modal For Edit Status-->
          <div
            class="modal fade"
            id="modal<%= order._id%>"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    อัพเดทสถานะออเดอร์
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <form
                  class="m-5"
                  id="form"
                  action="/admin/<%= currentUser._id %>/order/<%= order._id %>?_method=PATCH"
                  method="POST"
                >
                  <div class="mb-3">
                    <label for="orderId" class="form-label">หมายเลขออเดอร์</label>
                    <input
                      type="text"
                      class="form-control"
                      id="orderId"
                      disabled
                      value="<%= order._id %>"
                    />
                    <label class="form-label">สถานะ</label>
                    <input
                      type="text"
                      class="form-control"
                      disabled
                      value="<%= order.status %>"
                    />
                    <div class="mb-4">
                      <label for="updateStatus" class="form-label"
                        >อัพเดทสถานะ
                      </label>
                      <select
                        class="form-select form-control"
                        name="status"
                        value="status"
                      >
                        <option
                          class="form-control"
                          name="Processing"
                          value="กำลังเตรียมสินค้า"
                        >
                          กำลังเตรียมสินค้า
                        </option>
                        <option
                          class="form-control"
                          name="Prepared"
                          value="รอจัดส่ง"
                        >
                          รอจัดส่ง
                        </option>
                        <option
                          class="form-control"
                          name="Dispatched"
                          value="ส่งแล้ว"
                        >
                          ส่งแล้ว
                        </option>
                        <option
                          class="form-control"
                          name="Delivered"
                          value="กำลังนำส่ง"
                        >
                          กำลังนำส่ง
                        </option>
                        <option
                          class="form-control"
                          name="Cancelled"
                          value="ยกเลิก"
                        >
                          ยกเลิก
                        </option>
                      </select>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary save">
                    บันทึก
                  </button>
                </form>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    ยกเลิก
                  </button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
    <% } %>
  </table>
</div>
<%- include("../partials/footer") %>

