<%- include("../partials/header") %> <%- include("../partials/navbar") %>

<div class="container">
  <%- include("../partials/flash") %>

  <h3 class="text-center m-3">อัพเดตสถานะออเดอร์</h3>
  <div class="m-auto border border-info border-3">
    <form
      class="m-5"
      action="/admin/<%= currentUser._id %>/order/<%=order._id%>?_method=PATCH"
      method="POST"
      novalidate
    >
      <div class="mb-3">
        <label for="orderId" class="form-label">หมายเลขออเดอร์</label>
        <input
          type="text"
          class="form-control"
          disabled
          value="<%= order._id %>"
        />
        <label class="form-label">สถานะปัจจุบัน</label>
        <input
          type="text"
          class="form-control"
          disabled
          value="<%= order.status %>"
        />
        <div class="mb-4">
          <label for="updateStatus" class="form-label">อัพเดตสถานะ</label>
          <select class="form-select form-control" name="status">
            <option class="form-control" name="Processing" value="กำลังเตรียมสินค้า">
              กำลังเตรียมสินค้า
            </option>
            <option class="form-control" name="Prepared" value="รอจัดส่ง">
              รอจัดส่ง
            </option>
            <option class="form-control" name="Dispatched" value="ส่งแล้ว">
              ส่งแล้ว
            </option>
            <option class="form-control" name="Delivered" value="กำลังนำส่ง">
              กำลังนำส่ง
            </option>
            <option class="form-control" name="Cancelled" value="ยกเลิก">
              ยกเลิก
            </option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary save">Save Status</button>
    </form>
  </div>
</div>

<%- include("../partials/footer") %>
