<%- include("../partials/header") %> <%- include("../partials/navbar") %>
<link rel="stylesheet" href="/css/star.css" />

<section>
  <div class="container-fluid">
    <%- include("../partials/flash") %>

    <div class="row justify-content-md-center mt-2 mb-5 p-2">
      <div class="col-md-5 p-2 mb-2 bg">
        <div class="card mt-2">
          <img
            src="<%=product.img  %> "
            height="450px"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h2 class="card-title"><%= product.name %></h2>
            <h4 class="card-title"><%= product.price %> บาท</h4>
            <h4 class="card-title">ข้อมูลหนังสือ</h4>
            <p class="card-text"><%= product.desc %></p>

            <% if (currentUser != null && currentUser.role === "Admin") { %>
            <a href="/products/<%= product._id %>/edit" class="btn btn-primary"
              >แก้ไข
            </a>
            <% } %>

            <form
              action="/user/<%=product._id%>/cart"
              method="POST"
              class="mt-2"
            >
              <button class="btn btn-secondary">นำเข้าตะกร้า</button>
            </form>

            <% if (currentUser != null && currentUser.role === "Admin") { %>
            <form
              action="/products/<%=product._id%>?_method=DELETE"
              method="POST"
              class="mt-2"
            >
              <button class="btn btn-danger">ลบ</button>
            </form>
            <% } %>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<%- include("../partials/footer") %>
